<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} [%-5level] [%C{10}] - %msg %n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="ClientAppender" fileName="logs/listener/events.log"
            filePattern="logs/listener/$${date:yyyy-MM}/%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} [%-5level] [%C{2}] - %msg %n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="ClientLogger" level="debug" additivity="false">
            <AppenderRef ref="ClientAppender" level="INFO"/>
            <AppenderRef ref="ConsoleAppender" level="INFO"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>